*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.father{
    display: flex;
    flex-flow: column nowrap;
    /* background: #0F3D3E; */
}
    .header{
        background: url(/ImagenesLC/LV9.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        /* background: black; */
        display: flex;
        flex-flow: column nowrap;

    }
        .menuu{
            background: rgba(0, 0, 0,.1);
            /* background: #0F3D3E; */
            display: flex;
            height: 100px;
            align-items: center;
            border-bottom: 3px solid rgba(255, 255, 255,.5);
        }
            .logo{
                /* background: #5A8F7B; */
                flex: 1 1 auto;
                /* height: 45px; */
            }
                .logo a{
                    color: #fff;
                    font-size: 30px;
                }
                .logo a:hover{
                    color: #76BA99;
                }
            .nav{
                /* background: #5A8F7B; */
                flex: 5 1 auto;
                /* height: 45px; */
            }
                .nav a{
                    color: #fff;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                }
                .nav a:hover{
                    color: #76BA99;
                }
            .sociales{
                /* background: #5A8F7B; */
                flex: 1 1 auto;
                /* height: 45px; */
            }
                .sociales a{
                    color: #fff;
                    font-size: 18px;
                    padding: 0 5px;
                }
                .sociales a:hover{
                    color: #76BA99;
                }
            .textirijillo{
                background: #355764;
            }
            h1{
                background: #81CACF;
                color: rgb(230, 230, 230);
            }
    .sections{
        background: black;
        display: flex;
    }
        .articulos{
            background: #5800FF;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .articles{
                background: #0096FF;
                flex: 1 1 40%;
            }
                .tama{
                    height: 300px;
                }
            .navegacion{
                background: #003865;
                flex: 1 1  100%;
            }
        .aside{
            background: #76BA99;
            flex: 1 1 auto;
        }
            .publicidad{
                background: #876445;
            }
    .foot{
        background: black;
        display: flex;
        justify-content: center;
    }
        .patas{
            background: #7F5283;
            width: 500px;
            
        }
@media all and (max-width: 800px) {
    .sections{
        flex-direction: column;
    }
    .menuu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
    .aside{
        flex-direction: column;
    }
}
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}