*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.margencito{
    height: 250px;
}
.father{
    display: flex;
    flex-flow: column nowrap;
    /* background: #0F3D3E; */
}
    .header{
        background: url(/ImagenesLC/LV9.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        /* background: black; */
        display: flex;
        flex-flow: column nowrap;

    }
        .menuu{
            background: rgba(0, 0, 0,.1);
            /* background: #0F3D3E; */
            display: flex;
            height: 100px;
            align-items: center;
            border-bottom: 3px solid rgba(255, 255, 255,.5);
            position: sticky;
            top: 0;
        }
            .logo{
                /* background: #5A8F7B; */
                flex: 1 1 auto;
                /* height: 45px; */
            }
                .logo a{
                    color: #fff;
                    font-size: 30px;
                }
                .logo a:hover{
                    color: #76BA99;
                }
            .nav{
                /* background: #5A8F7B; */
                flex: 5 1 auto;
                /* height: 45px; */
            }
                .nav a{
                    color: #fff;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                }
                .nav a:hover{
                    color: #76BA99;
                }
            .sociales{
                /* background: #5A8F7B; */
                flex: 1 1 auto;
                /* height: 45px; */
            }
                .sociales a{
                    color: #fff;
                    font-size: 18px;
                    padding: 0 5px;
                }
                .sociales a:hover{
                    color: #76BA99;
                }
            .textirijillo{
                /* background: #355764; */
                height: 580px;
                display: flex;
                align-items: center;
            }
            h1{
                /* background: #81CACF; */
                color: rgb(230, 230, 230);
                font-size: 21px;
                font-weight: 300;
                text-align: center;
                line-height: 1.6;
            }
    .sections{
        background: black;
        display: flex;
    }
        .articulos{
            /* background: #5800FF; */
            /* background: #76BA99; */
            /* background: rgb(9,159,90);
            background: linear-gradient(0deg, rgba(9,159,90,1) 0%, rgba(8,121,98,1) 34%, rgba(15,27,9,1) 100%); */
            background: rgb(0,156,84);
            background: linear-gradient(0deg, rgb(0, 83, 44) 0%, rgb(0, 51, 20) 34%, rgba(7,20,0,1) 100%);
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .articles{
                /* background: #0096FF; */
                flex: 1 1 40%;
                font-size: 13px;
                letter-spacing: 1px;
                color: #fff;
                margin: 10px 10px 0 0px;
                flex: 1 1 45%;
                background: rgba(1, 68, 51, 0.2)
            }
            .articles img{
                width: 100%;
                margin: 5px;
                padding: 20px;
            }
            .articles a{
                color: #fff;
                font-size: 13px;
                padding: 10px;
                background: #000;
                margin: 10px 0;
                display: inline-block;
            }
            .articles a:hover{
                background: #041963;
            }
            /* .articles figure .capaa{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(11, 103, 123, 0.7);
                transition: all 500ms ease-out;
                opacity: 0;
                visibility: hidden;
                text-align: center;
            }
            .articles figure:hover > .capaa{
                opacity: 1;
                visibility: visible;
            } */
            h3{
                color: #fff;
                font-size: 13px;
                padding: 10px 0;
                /* margin-top: -80px; */
            }
            h2{
                font-size: 25px;
                text-transform: uppercase;
                padding: 0px 0 10px 0;
                color: #fff;
            }
                .tama{
                    height: 320px;
                    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                }
            .navegacion{
                /* background: #003865; */
                background: #000;
                flex: 1 1  100%;
            }
            .navegacion a{
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
        .aside{
            /* background: #76BA99; */
            background: rgb(0,156,84);
            background: linear-gradient(0deg, rgb(0, 83, 44) 0%, rgb(0, 51, 20) 34%, rgba(7,20,0,1) 100%);
            flex: 1 1 auto;
            margin: 10px 5px 10px 0px;
            /* position: sticky;
            top: 0; */
        }
        h4{
            background: #000;
            color: #fff;
            padding: 10px;
            text-transform: uppercase;
        }
            .publicidad{
                /* background: #876445; */
                background: rgba(1, 68, 51, 0.2);
                position: sticky;
                top: 0;
            }
    .foot{
        background: black;
        display: flex;
        justify-content: center;
    }
        .patas{
            /* background: #7F5283; */
            width: 500px;
            text-align: center;
        }
        .patas a{
            color: #fff;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;
        }
@media all and (max-width: 800px) {
    .sections{
        flex-direction: column;
    }
    .menuu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
    .aside{
        flex-direction: column;
    }
}
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}